@import url("default.css");

dl.attribute > dd,
dl.attribute > dt,
dl.class > dt,
dl.classmethod > dd,
dl.classmethod > dt,
dl.exception > dt,
dl.method > dd,
dl.method > dt,
dl.staticmethod > dd,
dl.staticmethod > dt {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

dl.class > dt {
    background: hsl(198, 50%, 80%);
    border-bottom: 2px solid hsl(198, 50%, 50%);
    margin-left: -1em;
    padding: 0.5em 1em 0.5em 1em;
}

dl.exception > dt {
    background: hsl(0, 50%, 80%);
    border-bottom: 2px solid hsl(0, 50%, 50%);
    margin-left: -1em;
    padding: 0.5em 1em 0.5em 1em;
}

dl.method > dt,
dl.classmethod > dt,
dl.staticmethod > dt,
dl.attribute > dt {
    background: hsl(198, 50%, 90%);
    border-bottom: 2px solid hsl(198, 50%, 60%);
    margin-left: -0.5em;
    padding: 0.2em 0.5em 0.2em 0.5em;
}

dl.method > dd,
dl.classmethod > dd,
dl.staticmethod > dd,
dl.attribute > dd {
    background: hsl(198, 30%, 95%);
    border-bottom: 1px solid #bbb;
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
    margin: 0 0.5em 0.5em 0.5em;
    padding: 0.5em;
}

TH.field-name {
    background: inherit;
    border-right: 2px solid hsl(198, 50%, 20%);
}

TT.descclassname {
    color: hsl(198, 50%, 40%);
}

/* Zippy style {{{ */
.goog-zippy-collapsed:before {
    content: url("plus.png");
    vertical-align: middle;
}

.goog-zippy-expanded:before {
    content: url("minus.png");
    vertical-align: middle;
}

.goog-zippy-header {
    cursor: pointer;
}
/* }}} */

dt:target, .highlighted {
   background-color: #fbe54e !important;
}

